[ req ]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[ req_distinguished_name ]
C  = US
ST = State
L  = City
O  = Organization
OU = Unit
CN = pkce-client.local.com

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = pkce-client
DNS.2 = crow
